<div class="container my-5">
    <div class="text-center mb-5">
        <h1 class="display-4 fw-bold text-primary">Painel Administrativo</h1>
        <p class="lead">Gerencie os responsaveis e suas tarefas domesticas</p>
    </div>

    <div class="row g-4">
        <!-- Card de Agendamentos -->
        <div class="col-md-6 col-lg-4">
            <div class="card h-100 shadow-sm text-center dashboard-card">
                <div class="card-body d-flex flex-column justify-content-center">
                    <div class="icon-circle bg-light text-primary mx-auto mb-3">
                        <fa-icon [icon]="faBroomBall" size="2x"></fa-icon>
                    </div>
                    <h5 class="card-title">Tarefas Domesticas</h5>
                    <p class="card-text">Crie, visualize e gerencie as tarefas domesticas dos responsaveis.</p>
                    <a href="" class="btn btn-outline-primary mt-auto">Acessar</a>
                </div>
            </div>
        </div>

        <!-- Card de Pacientes -->
        <div class="col-md-6 col-lg-4">
            <div class="card h-100 shadow-sm text-center dashboard-card">
                <div class="card-body d-flex flex-column justify-content-center">
                    <div class="icon-circle bg-light text-primary mx-auto mb-3">
                        <fa-icon [icon]="faExclamationCircle" size="2x" ></fa-icon>
                    </div>
                    <h5 class="card-title">Pendências</h5>
                    <p class="card-text">Gerencie as pendências feitas pelos responsaveis.</p>
                    <a href="" class="btn btn-outline-primary mt-auto">Acessar</a>
                </div>
            </div>
        </div>

        <!-- Card de Especialidades -->
        <div class="col-md-6 col-lg-4">
            <div class="card h-100 shadow-sm text-center dashboard-card">
                <div class="card-body d-flex flex-column justify-content-center">
                    <div class="icon-circle bg-light text-primary mx-auto mb-3">
                         <fa-icon [icon]="faUser" size="2x"></fa-icon>
                    </div>
                    <h5 class="card-title">Responsaveis</h5>
                    <p class="card-text">Gerencie os responsaveis para usas tarefas domesticas.</p>
                    <a href="" class="btn btn-outline-primary mt-auto">Acessar</a>
                </div>
            </div>
        </div>
    </div>
</div>
