.icon-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,.1) !important;
}

/* Muda o ícone no hover do card */
.dashboard-card:hover .icon-circle {
    background-color: var(--bs-primary) !important;
    color: white !important;
    transition: all 0.25s ease-in-out;
}

/* Muda o botão no hover do card */
.dashboard-card:hover .btn-outline-primary {
    background-color: var(--bs-primary);
    color: white;
}