  <section class="container mb-5">
    <div class="row align-items-center">
      <h2 class="display-5 fw-bold">Funcionamento</h2>
      <p class="lead text-justify">
        O Revesement se ajusta à sua rotina.

        A cada novo ciclo, a plataforma verifica as tarefas passadas. Se alguma não foi concluída, ela é movida para o
        módulo de Pendências, e o revesamento é pausado. Somente após a resolução das pendências o ciclo é retomado,
        garantindo que a lista de tarefas esteja sempre em dia.
      </p>
    </div>
  </section>
