  <section id="sobre" class="container py-5 text-center">
    <div class="row align-items-center">
      <div>
        <h1 class="display-4 fw-bold mb-3">Simplifique a Divisão de Tarefas</h1>
        <p class="lead text-muted">Compartilhe as responsabilidades de forma justa e fácil com a sua família ou colegas
          de quarto.</p>
      </div>
    </div>

    <div class="row align-items-center my-3s">
      <div>
        <h3 class="display-6 fw-bold">O que é o Revesement?</h3>
        <p class="lead">
          Revesement é uma plataforma para o revesamento de tarefas domésticas, projetada para simplificar a
          vida de famílias e colegas de quarto.

          Desenvolvida com Angular no front-end e Java/Spring Boot no back-end, a plataforma oferece um conjunto
          completo de ferramentas, incluindo agendamento de tarefas, gerenciamento de responsáveis e um sistema
          inteligente de revesamento automático. Cada tarefa é atualizada em tempo real, garantindo que todos saibam
          exatamente o que precisa ser feito e se a atividade foi concluída.
        </p>
      </div>
    </div>
  </section>
