<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="card p-4" style="width: 100%; max-width: 400px;">
    <h2 class="text-center mb-4">{{h2Text}}</h2>
    <form #f="ngForm" (ngSubmit)="submitHandler(f)">
      <div class="mb-3">
        <mat-form-field hideRequiredMarker appearance="outline" style="width: 100%;">
          <mat-label>Nome de Usuário</mat-label>
          <input matInput [(ngModel)]="userName" name="username" minlength="4" required>
          <mat-hint>Minimo de 4 caracteres</mat-hint>
        </mat-form-field>
      </div>
      <div class="mb-3">
        <mat-form-field appearance="outline" hideRequiredMarker style="width: 100%;">
          <mat-label>Senha</mat-label>
          <input matInput [type]="hide() ? 'password' : 'text'" [(ngModel)]="password" name="password"  minlength="6" required/>
          <button type="button" mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()">
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint>Minimo de 6 caracteres</mat-hint>
        </mat-form-field>
      </div>
      <a style="text-decoration: none;" routerLink="/login" [queryParams]="{novo_usuario: true}">Novo usuario</a>
      <button type="submit" class="btn btn-primary w-100" [disabled]="f.invalid">{{buttonText}}</button>
    </form>
  </div>
</div>