<section id="passos" class="container py-5">
    <div class="row align-items-center my-5">
        <h2 class="text-center display-5 fw-bold mb-5">Seu Guia Rápido: 5 Passos para Começar</h2>

        <div>
            <h3 class="display-6 fw-bold">Passo 1: Criação de conta e usuario</h3>
            <p class="lead text-justify">
                Clique em "Começar Agora" para acessar o formulário de login e criação de conta. Você precisará apenas
                de um
                nome de usuário e senha para começar a usar a plataforma.
            </p>
        </div>
    </div>

    <div class="row align-items-center my-5">
        <div>
            <h3 class="display-6 fw-bold">Passo 2: Criação de responsaveis</h3>
            <p class="lead text-justify">
                Ao fazer login, você verá seu painel de controle. Para começar, vá até o módulo de Gerenciamento de
                Responsáveis e adicione duas ou mais pessoas.

                Depois de adicionar os responsáveis, o módulo de Gerenciamento de Tarefas será ativado. Agora você pode
                criar
                as tarefas domésticas para os responsaveis.
            </p>
        </div>
    </div>

    <div class="row align-items-center my-2">
        <div>
            <h3 class="display-6 fw-bold">Passo 3: Criação de Tarefas</h3>
            <p class="lead text-justify">
                Após adicionar os responsáveis, o módulo de Tarefas será liberado. Crie as tarefas com nome, descrição e
                data
                de vencimento. Em seguida, atribua cada uma delas a um responsável.
            </p>
        </div>
    </div>



</section>